video_transformers/mmt/*
video_transformers/vifi_clip/*
ucf-crime/clip_embs/*
**/__pycache__/
ucf-crime/env.py
a.txt
logs.txt
ucf-crime/errors_clip-centroid.txt
ucf-crime/errors.txt
requirements.txt
ucf-crime/logs_clip-centroid.txt
requirements.txt
ucf-crime/logs_clip-centroid_milvus.txt
ucf-crime/errors_clip-centroid_milvus.txt
